.venv/
packages/*
results/models-performance/*
model/*
data/*.spacy
# large files
data/disputes-content.jsonl.gz
resources/model-best/transformer/model
data/Jan2023-Aug2024-parsed-proceedings.jsonl.gz

# folders we want to keep
!packages/.gitkeep
!results/models-performance/.gitkeep
!model/.gitkeep